<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
       th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Add admin</title>
</head>
<body>
     <section>
    <div class="container mt-5 p-5">
        <div class="row">
        <div class="col-md-7 offset-md-2">
          <div class="card">
            <div class="card-header text-center">
            <p class="fs-4 text-center">Add admin</p>
            <th:block th:if=${succMsg}>
                  <p class="text-success fw-bold">[[${succMsg}]]</p>
               </th:block>
               <th:block th:if=${errorMsg}>
                  <p class="text-danger fw-bold">[[${errorMsg}]]</p>
               </th:block>
            </div>
            <div class="card-body">
              <form id="userRegister" action="/register/save-admin" method="post" novalidate>
              
                <div class="row">
                  <div class="col">
                   <label class="form-label">Username</label>
                   <input class="form-control" name="name" type="text" required>
                  </div>
                   
                <div class="col">
                   <label class="form-label">Mobile phone</label>
                   <input class="form-control" name="phone" type="tel" required>
                </div>
                </div>
                
                <div class="col">
                   <label class="form-label">Email</label>
                   <input class="form-control" name="email" type="email" required>
                  </div>

                <div class="row">
                  <div class="col">
                   <label class="form-label">Address</label>
                   <input class="form-control" name="address" type="text" required>
                  </div>
                   
                <div class="col">
                   <label class="form-label">City</label>
                   <input class="form-control" name="city" type="text" required>
                </div>
                </div>
                
                <div class="row">
                  <div class="col">
                   <label class="form-label">State</label>
                   <input class="form-control" name="state" type="text" required>
                  </div>
                   
                <div class="col">
                   <label class="form-label">Pincode</label>
                   <input class="form-control" name="pincode" type="number" required>
                </div>
                </div>
                
                <div class="row">
                  <div class="col">
                   <label class="form-label">Password</label>
                   <input id="pass" class="form-control" name="password" type="password" required>
                  </div>
                   
                <div class="col">
                   <label class="form-label">Confirm password</label>
                   <input class="form-control" name="confirmpassword" type="password" required>
                </div>
              </div>
                <button type="submit" class="btn bg-primary text-black col-md-12 mt-3">Add</button>
              </form>
            </div>
          </div>
        </div>
       </div> 
    </div>
    </section>
     

</body>
</html>